.WeatherForecast {
  text-align: center;
}

.WeatherForecast img {
  display: block;
  margin-left: -10px;
}

.WeatherForecast-temperatures {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}
